@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --cor1: #112026;
    --cor2: #255959; 
    --cor3: #03A696; 
    --cor4: #B8D9D5; 
    --cor5: #0AA65D;
    --fonte-padrao: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: var(--cor1);
    background-attachment: fixed;
    font-family: var(--fonte-padrao);
    font-weight: bold;
}

nav{
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 60px;
    margin: 10px auto;
    padding: 0px 10px;
    border-radius: 15px;
}

div#pfp{
    background: red url('https://lolg-cdn.porofessor.gg/img/d/summonerIcons/13.1/64/7.png') no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    
    border: 2px solid var(--cor4);
}

p#username{
    color: var(--cor4);
}

main{
    display: flex;
    flex-direction: column;
}

div.card{
    height: 200px;
    width: 90vw;
    background-color: var(--cor3);
    padding: 10px;
    margin: 10px auto;
    border-radius: 15px;
}